In [15]:
# print('f') 

# print('612b8922bcf15cc8ef0f6328185d4835fa7d5b96')

In [15]:
import pandas_datareader as pdr

In [16]:
key = '612b8922bcf15cc8ef0f6328185d4835fa7d5b96'
df = pdr.get_data_tiingo('AAPL',api_key=key)

In [17]:
df.to_csv('AAPL.csv')

In [18]:
import pandas as pd

In [19]:
df=pd.read_csv('AAPL.csv')

In [20]:
df.tail()

,symbol,date,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor
1254,AAPL,2021-02-08 00:00:00+00:00,136.91,136.960,134.9200,136.03,71297214,136.91,136.960,134.9200,136.03,71297214,0.0,1.0
1255,AAPL,2021-02-09 00:00:00+00:00,136.01,137.877,135.8500,136.62,75986989,136.01,137.877,135.8500,136.62,75986989,0.0,1.0
1256,AAPL,2021-02-10 00:00:00+00:00,135.39,136.990,134.4000,136.48,72647988,135.39,136.990,134.4000,136.48,72647988,0.0,1.0
1257,AAPL,2021-02-11 00:00:00+00:00,135.13,136.390,133.7700,135.90,64280029,135.13,136.390,133.7700,135.90,64280029,0.0,1.0
1258,AAPL,2021-02-12 00:00:00+00:00,135.37,135.530,133.6921,134.35,60145130,135.37,135.530,133.6921,134.35,60145130,0.0,1.0

In [21]:
df1=df.reset_index()['close']

In [22]:
df1.shape

(1259,)

In [23]:
df1

0        96.64
1        98.12
2        96.26
3        96.04
4        96.88
         ...
1254    136.91
1255    136.01
1256    135.39
1257    135.13
1258    135.37
Name: close, Length: 1259, dtype: float64

In [24]:
import matplotlib
matplotlib.use('TkAgg')
import matplotlib.pyplot as plt

plt.plot(df1)

In [25]:
import numpy as np

In [26]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler(feature_range=(0,1))
df1=scaler.fit_transform(np.array(df1).reshape(-1,1))

In [27]:
df1.shape

(1259, 1)

In [28]:
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler(feature_range=(0,1))
df1=scaler.fit_transform(np.array(df1).reshape(-1,1))

In [30]:
##splitting dataset into train and test split
training_size=int(len(df1)*0.65)
test_size=len(df1)-training_size
train_data,test_data=df1[0:training_size,:],df1[training_size:len(df1),:1]

In [32]:
 training_size,test_size
    #train_data

(818, 441)

In [34]:
import numpy
# convert an array of values into a dataset matrix
def create_dataset(dataset, time_step=1):
	dataX, dataY = [], []
	for i in range(len(dataset)-time_step-1):
		a = dataset[i:(i+time_step), 0]   ###i=0, 0,1,2,3-----99   100 
		dataX.append(a)
		dataY.append(dataset[i + time_step, 0])
	return numpy.array(dataX), numpy.array(dataY)

In [35]:
# reshape into X=t,t+1,t+2,t+3 and Y=t+4
time_step = 100
X_train, y_train = create_dataset(train_data, time_step)
X_test, ytest = create_dataset(test_data, time_step)

In [36]:
print(X_train.shape), print(y_train.shape)

(717, 100)
(717,)

(None, None)

In [37]:
X_train =X_train.reshape(X_train.shape[0],X_train.shape[1] , 1)
X_test = X_test.reshape(X_test.shape[0],X_test.shape[1] , 1)

In [38]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import LSTM

ModuleNotFoundError: No module named 'tensorflow'