In [15]:
# print('f') 

# print('612b8922bcf15cc8ef0f6328185d4835fa7d5b96')

In [16]:
import pandas_datareader as pdr

In [17]:
key = '612b8922bcf15cc8ef0f6328185d4835fa7d5b96'
df = pdr.get_data_tiingo('AAPL',api_key=key)

In [18]:
df.to_csv('AAPL.csv')
import pandas as pd

In [22]:
df=pd.read_csv('AAPL.csv')
df.head()

,symbol,date,close,high,low,open,volume,adjClose,adjHigh,adjLow,adjOpen,adjVolume,divCash,splitFactor
0,aapl,2016-02-16 00:00:00+00:00,96.64,96.8500,94.610,95.02,49057916,22.467518,22.516340,21.995570,22.090890,196231664,0.0,1.0
1,aapl,2016-02-17 00:00:00+00:00,98.12,98.2100,96.150,96.67,44863243,22.811599,22.832522,22.353600,22.474493,179452972,0.0,1.0
2,aapl,2016-02-18 00:00:00+00:00,96.26,98.8900,96.091,98.84,39020983,22.379173,22.990613,22.339883,22.978989,156083932,0.0,1.0
3,aapl,2016-02-19 00:00:00+00:00,96.04,96.7599,95.800,96.00,35374173,22.328026,22.495393,22.272229,22.318727,141496692,0.0,1.0
4,aapl,2016-02-22 00:00:00+00:00,96.88,96.9000,95.920,96.31,34280758,22.523315,22.527965,22.300128,22.390798,137123032,0.0,1.0

In [20]:
df1=df.reset_index()['close']

In [27]:
df2[128:]

128     109.22
129     109.08
130     109.36
131     108.51
132     108.85
         ...
1254    136.91
1255    136.01
1256    135.39
1257    135.13
1258    135.37
Name: close, Length: 1131, dtype: float64